@page
@model eTicaretCase.Pages.GirisModel
@{

	<div class="container-lg mt-5">
		<div class="row justify-content-center align-item-center">
			<div class="col-sm-12 col-md-4 col-lg-2">

				<h1 class="mb-3">Giriş Yap</h1>

				<form method="post">
					<div class="mb-3">

					<div class="mb-3">
						<label class="form-label" asp-for="Model.Email">Email Adresiniz</label>
						<input type="text" asp-for="Model.Email" />
						<span asp-validation-for="Model.Email" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label class="form-label" asp-for="Model.Sifre">Şifre</label>
						<input type="password" asp-for="Model.Sifre" />
						<span asp-validation-for="Model.Sifre" class="text-danger"></span>
					</div>

					<div class="mb-3 form-check">
						<label class="checkbox" asp-for="Model.BeniHatirla">Beni Hatırla</label>
							<input type="checkbox" asp-for="Model.BeniHatirla" />
							<span asp-validation-for="Model.BeniHatirla" class="text-danger"></span>
					</div>

					<div class="mb-3">

						<button class="btn btn-primary" type="submit">Giriş Yap</button>

					</div>
					</div>
				</form>

			</div>
		</div>


	</div>
}
