@page
@model eTicaretCase.Pages.CikisModel
@{

	<form method="post">
		<div class="container-lg mt-5">
			<div class="row justify-content-center align-item-center">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<p>Çıkış Yapamak İstediğine Emin misin?</p>

						<div class="mb-3">
							<button class="btn btn-danger" asp-page-handler="Logout">Evet,Çıkış Yap!</button>

							<button class="btn btn-light ml-5 border-dark bg-opacity-75 hover:bg-opacity-100" asp-page-handler="DontLogout">Vazgeç</button>
						</div>

					
				</div>
			</div>
		</div>
	</form>


}
